*{
    padding:0;
    margin:0;
}
body{
    background-color: azure;
    font-size: small;
    font-family: Arial;
    margin: 0 10%;
  }
#container{
    border:1px solid gray;
}
#container:after{
        content:"";
		clear:both;
		display:table;}
#pic{
    float:left;
    margin: 0 .8em;
}
h1,h2,h3,h4,p{
    margin: 1em;
    line-height: 1.8em;
}
li{
      margin: 1em;
    line-height: 1.5em; 
}

.about{
      color:orange;}
#edu h2,#profess h2,.about{
                     text-decoration:underline;}
#edu,#profess{
			  float:left;
              margin:0 6%;}
hr{margin:0 2%;}
#work{clear:both;}
#detail{margin:0 4%;}
